# First create the environment as follows:
# 	conda create --name pybosse11 python=3.14 --yes
# 	conda activate pybosse1_1
dask
distinctipy
git+https://github.com/JavierPachecoLabrador/pyGNDiv-master
h5netcdf
joblib
jupyter
matplotlib
netCDF4
notebook
nlmpy
numpy
pandas
pyet
python-rle
wget
scipy
scikit-learn
scikit-image
seaborn
regex
shapely
pickledb
pip
xarray
